.izquierda {
    padding: 10px;
    background-color: rgb(255, 241, 159);
    width: 35%;
    height: 100%;
    border: 5px;

}

.imagen {
    border: 5px solid white;
    border-radius: 50%;
    width: 55%; /* Ajusta al 100% para ocupar todo el ancho de .izquierda */
    height: 100%; /* Ajusta la altura automáticamente para mantener la proporción */
    display: block; /* Asegura que la imagen sea tratada como un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.titulo {
    font-size: 19PX;
    font-family:"PT Serif", serif;
    font-weight: bold;
    text-align: center;
}

.parrafo {
    font-size: 16PX;
    font-family:"PT Serif", serif;
    line-height: 1.5;
    margin: 20px;
    text-align: justify;
}
.datos{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.iconos{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex:20%;
    background-color: aqua;
}
.campos{
    flex: 40%;
    background-color: blue;
}
.info{
    flex: 40%;
    background-color: blueviolet;
}
.icono{
    margin: 5px;
    font-size: 24px; /* Puedes ajustar el tamaño según tus necesidades */
  }
  .icono-pequeño{
    margin: 5px;
    font-size: 28px; /* Puedes ajustar el tamaño según tus necesidades */
  }